<div class="container">
    <div class="single-slide-item overlay">
        <div class="container">
            <div id="bg"></div>
            <br><br>
            <div class="row" id="inputRow">
                <div class="col-lg-5">
                    <div class="book-a-car">
                        <form action="#" method="get">
                            <!--== Pick Up Location ==-->
                            <div class="pickup-location book-item">
                                <h4>PICK-UP LOCATION:</h4>
                                <select class="custom-select" name="location" id="locationInput">
                                    <option selected="">Select</option>
                                    <option value="1">Location1</option>
                                    <option value="2">Location2</option>
                                    <option value="3">Location3</option>
                                    <option value="4">Location4</option>
                                    <option value="5">Location5</option>
                                </select>
                            </div>
                            <!--== Pick Up Location ==-->


                            <!--== Pick Up Date ==-->
                            <div class="pick-up-date book-item">
                                <h4>PICK-UP DATE:</h4>
                                <div role="wrapper" class="gj-datepicker gj-datepicker-bootstrap gj-unselectable input-group">
                                    <input class="form-control" id="startDateInput" name="startDate" placeholder="MM/DD/YYY" type="text"/>
                                    <span class="input-group-append" role="right-icon">
                                        <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </span>
                                </div>

                                <div class="return-car">
                                    <h4>Return DATE:</h4>
                                    <div role="wrapper" class="gj-datepicker gj-datepicker-bootstrap gj-unselectable input-group">
                                        <input class="form-control" id="endDateInput" name="endDate" placeholder="MM/DD/YYY" type="text"/>
                                        <span class="input-group-append" role="right-icon">
                                            <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--== Pick Up Date ==-->

                            <!--== Car Choose ==-->
                            <div class="choose-car-type book-item">
                                <h4>CHOOSE CAR TYPE:</h4>
                                <select class="custom-select" name="carType" id="carTypeInput">
                                    <option selected="">Select</option>
                                    <option value="1">Pickup</option>
                                    <option value="2">Sedan</option>
                                    <option value="3">Hatcback</option>
                                </select>
                            </div>
                            <!--== Car Choose ==-->

                            <br>
                            <div class="book-button text-center">
                                <button class="btn-warning btn-lg">List options</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-7 text-right">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="slider-right-text">
                                <h1>BOOK A CAR TODAY!</h1>
                                <p>
                                    THE RENTER COMPANY CAN PUT SOME COOL DISCOUNT HERE <br>
                                    FOR OUR RETURNING CUSTOMERS AND SJSU STUDENTS
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br><hr><br>
            <div id="carList">

            </div>
        </div>
    </div>

    <script>
        $('#startDateInput').datepicker();
        $('#endDateInput').datepicker();

        function parseURLParams(url) {
            var queryStart = url.indexOf("?") + 1,
                    queryEnd   = url.indexOf("#") + 1 || url.length + 1,
                    query = url.slice(queryStart, queryEnd - 1),
                    pairs = query.replace(/\+/g, " ").split("&"),
                    parms = {}, i, n, v, nv;

            if (query === url || query === "") return;

            for (i = 0; i < pairs.length; i++) {
                nv = pairs[i].split("=", 2);
                n = decodeURIComponent(nv[0]);
                v = decodeURIComponent(nv[1]);

                if (!parms.hasOwnProperty(n)) parms[n] = [];
                parms[n].push(nv.length === 2 ? v : null);
            }
            return parms;
        }

        urlData = parseURLParams(window.location.href);

        if(urlData) {
            if (urlData["location"]) {
                $("#locationInput").val(urlData["location"][0]);
            }
            if (urlData["startDate"]) {
                $("#startDateInput").val(urlData["startDate"][0]);
            }
            if (urlData["endDate"]) {
                $("#endDateInput").val(urlData["endDate"][0]);
            }
            if (urlData["carType"]) {
                $("#carTypeInput").val(urlData["carType"][0]);
            }
        }

        function carListing(carName, rate, imgSrc, type, maker, seats, fuel, desc){
            let listing = "";

            listing += "<div class='row'>";
            listing += "<div class='card col-12' style='padding:0px'>";
            listing += "<div class='card-header'>"
            listing += "<h4 style='float:left;'>"+carName+"</h4>"
            listing += "<button style='float:right;' class='btn btn-md btn-success'>Rent for $"+rate+"/h</button>"
            listing += "</div>";
            listing += "<div class='row'>";
            listing += "<div class='col-3'><img src='"+imgSrc+"' width='100%' style='border: solid gray 2px; border-radius: 2px'/></div>";
            listing += "<table class='col-4'>";
            listing += "<tr><td><span><i class=\"fa fa-car\"></i> Type: "+type+"</span></td>";
            listing += "<td><span><i class=\"fa fa-cogs\"></i> Brand: "+maker+"</span></td></tr>";
            listing += "<tr><td><span><i class=\"fa fa-gas-pump\"></i>  Fuel usage: "+fuel+"</span></td>";
            listing += "<td><span><i class=\"fa fa-chair\"></i> seats: "+seats+"</span></td></tr>";
            listing += "</table>";
            listing += "<p class='col-3'>"+desc+"</p>";
            listing+= "</div>";
            listing += "</div>";
            listing += "</div><br>";

            $("#carList").append($(listing));
        }

        let carData = {};
        function GetData(){
            const Http = new XMLHttpRequest();
            const url='http://ec2-54-175-0-146.compute-1.amazonaws.com:3000/cars';
            Http.open("GET", url);
            Http.setRequestHeader("Authorization","token eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InRlc3RAdGVzdC5jb20iLCJfaWQiOiI1ZmM5NWUwMTJhZmNjYjAwMWNlMzVjOWQiLCJ1c2VySWQiOiI1ZmM5NWUwMTJhZmNjYjAwMWNlMzVjOWQiLCJpYXQiOjE2MDcwMzIzNDEsImV4cCI6MTYwNzA2ODM0MX0.7gkjwwHNSWAKOvrWTIuxkqTCu9LMG73QHcadKCIOafg");
            Http.send();

            Http.onreadystatechange = (e) => {
                if(Http.readyState == 4) {
                    console.log(Http.responseText);
                    carData = JSON.parse(Http.responseText);
                    listCars(carData);
                }
            }
        }
        GetData();

        function listCars(data){
            for(let i = 0; i < data["products"].length; i++){
                console.log(data["products"][i]);
                let car = data["products"][i];

                //filter location
                if(urlData && urlData["location"] && urlData["location"] != "Select") {
                    if (car["location"] != urlData["location"]) continue;
                }

                //filter type
                if(urlData && urlData["carType"] && urlData["carType"] != "Select") {
                    if (car["car_type"] != urlData["carType"]) continue;
                }

                car["reserved"] = randDate(hashCode(car["_id"]), 20);
                console.log(car["reserved"]);

                //filter dates
                let reserved = false;
                if(urlData && urlData["startDate"] && urlData["endDate"]) {
                    for (let i = 0; i < car["reserved"].length; i++) {
                        //console.log(new Date(urlData["startDate"]))
                        //console.log(new Date(car["reserved"][i]))
                        //console.log(new Date(urlData["endDate"]))
                        if (new Date(urlData["startDate"]) <= new Date(car["reserved"][i]) && new Date(urlData["endDate"]) >= new Date(car["reserved"][i])) {
                            reserved = true;
                        }
                    }
                }
                if(reserved) {
                    console.log("reserved");
                    continue;
                }


                let image = "https://www.extremetech.com/wp-content/uploads/2019/12/SONATA-hero-option1-764A5360-edit.jpg";
                let fuel = "eco";

                let type = "Pickup"
                if(car["car_type"] == "2") type = "Sedan";
                if(car["car_type"] == "2") type = "Hatchback";

                carListing(car["name"], car["rate_per_hour"], image, type, car["car_maker"], car["number_of_seats"], fuel, car["description"]);
            }
        };

        function randDate(seed, count){
            let date = [];
            let rng = new RNG(seed);
            for(let i=0; i < count; i++) {
                let d = rng.nextRange(1, 31);
                let m = rng.nextRange(11, 13);
                if (d < 0) d = d * -1;
                if (d < 10) d = "0" + d + "";
                date.push(m + "/" + d + "/2020");
            }
            return date;
        }

        function RNG(seed) {
            // LCG using GCC's constants
            this.m = 0x80000000; // 2**31;
            this.a = 1103515245;
            this.c = 12345;

            this.state = seed ? seed : Math.floor(Math.random() * (this.m - 1));
        }
        RNG.prototype.nextInt = function() {
            this.state = (this.a * this.state + this.c) % this.m;
            return this.state;
        }
        RNG.prototype.nextFloat = function() {
            // returns in range [0,1]
            return this.nextInt() / (this.m - 1);
        }
        RNG.prototype.nextRange = function(start, end) {
            // returns in range [start, end): including start, excluding end
            // can't modulu nextInt because of weak randomness in lower bits
            var rangeSize = end - start;
            var randomUnder1 = this.nextInt() / this.m;
            return start + Math.floor(randomUnder1 * rangeSize);
        }
        RNG.prototype.choice = function(array) {
            return array[this.nextRange(0, array.length)];
        }

        hashCode = function(s){
            return s.split("").reduce(function(a,b){a=((a<<5)-a)+b.charCodeAt(0);return a&a},0);
        }

    </script>

    <style>
        body{
            overflow-x: hidden;
        }
        h1{
            text-shadow: darkgray 1px 1px;
        }
        h4{
            text-shadow: darkgray 1px 1px;
        }
        p{
            text-shadow: darkgray 1px 1px;
        }
        hr{
            width:100vw;
            position: absolute;
            left:0px;
            right:0px;
        }
        #bg{
            position: absolute;
            width:110vw;
            height: 460px;
            left:0px;
            right:0px;
            background-image: url("/image/trip.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            overflow-x: hidden;
        }

        p{
            margin: 10px;
        }
        table {
            margin: 10px;
        }
        td {
            padding: 10px;
        }
        td span {
            background: lightgray;
            border-radius: 5px;
            padding: 10px;
        }
    </style>
</div>