<div class="container">
    <h1 class="center">Welcome to CarRentalz</h1>
    <h1>
        </br>
    </h1>
    <h2 class="center">
        <a href="/aut/facebook" class="btn btn-primary">Login With Facebook</a>
       
        
    </h2>
    <h2 class="center">
        <a href="/aut/google" class="btn btn-danger">Login With Google</a>
    </h2>

    <h2 class="center">
        <a href="/email" class="btn btn-info">Login With Email</a>
    </h2>

    <h5 class="center">
        <small class="center">
        <a href="/signup" style="color: white">First time user?</a>
    </small>
    </h5>
    
</div>
<style>
   body{

       background-image: url('/image/trip.jpg');
       background-repeat: no-repeat;
       background-size:150%;
       
   }
   h1{
       font-size: 400%
   }
   h5{
       color: black
   }
</style>