<div class="container">
    <br>
    <div class="row">
        <div class="card col-7" style='padding:0px; margin:5px;'>
            <div class='card-header' style="padding:5px">
                <center><h5> Details about the car </h5></center>
            </div>
            <div class="row">
                <div class='col-12'><img src='https://www.extremetech.com/wp-content/uploads/2019/12/SONATA-hero-option1-764A5360-edit.jpg' width='100%' style='border: solid gray 2px; border-radius: 2px'/></div>
            </div>
            <div class="row" style="margin:5px">
                <div class="col-12" id="carNameDiv">
                    <center>
                        <h5>Car Name</h5>
                    </center>
                </div>
            </div>
            <div class="row">
                <div class='col-6'>
                    <table class='col-12'>
                        <tr><td><span><i class="fa fa-car"></i> Type: </span></td>
                        <td><span><i class="fa fa-cogs"></i> Brand: </span></td></tr>
                        <tr><td><span><i class="fa fa-gas-pump"></i>  Fuel usage: </span></td>
                        <td><span><i class="fa fa-chair"></i> seats: </span></td></tr>
                    </table>
                </div>
                <div class='col-6'>
                    <p class='col-12'>description</p>
                </div>
            </div>
        </div>
        <div class="card col-3" style='padding:0px; margin:5px;'>
            <div class='card-header' style="padding:5px">
                <center><h5> Confirm your reservation </h5></center>
            </div>
            <table class="col-11">
                <tr><td><div>Start Date: </div></td></tr>
                <tr><td><div>End Date: </div></td></tr>
                <tr><td><div>Full Price: </div></td></tr>
                <tr><td><center><button class="btn-success btn-lg">Reserve</button></center></td></tr>
            </table>
        </div>
    </div>
</div>


<style>
    body{
        background-image: url('/image/trip.jpg');
        background-repeat: no-repeat;
        background-size:100%;

    }

    table {
        margin: 10px;
    }
    td {
        padding: 10px;
    }
    td div {
        background: lightgray;
        border-radius: 5px;
        padding: 10px;
    }
    #carNameDiv{
        background: lightgray;
        border-radius: 5px;
        padding: 5px;
    }
    h5{
        text-shadow: darkgray 1px 1px;
    }
</style>